<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yasc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Yasc.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipWelcomePage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultStartMode" serializeAs="String">
                <value>Autoplay</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer6" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer7" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer8" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer9" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisitedServer10" serializeAs="String">
                <value />
            </setting>
        </Yasc.Properties.Settings>
    </userSettings>
</configuration>