<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutomationSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutomationSpy.Properties.Settings>
            <setting name="PinnedPath" serializeAs="String">
                <value>Shogi/GameView</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>00:00:01</value>
            </setting>
        </AutomationSpy.Properties.Settings>
    </userSettings>
</configuration>